{% extends 'base.html' %}
{% load static %}
{% block cart-content %}
<section class="h-100 h-custom" >
  <div class="container py-5 h-100 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;overflow:hidden">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{order.get_cart_items}} items</h6>
                  </div>
                  <div style="max-height:450px;overflow-y:scroll;overflow-x:hidden">
                  {% for item in items %}
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{item.product.image.url}}"
                        class="img-fluid rounded-3" alt="Laptop">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">Laptop</h6>
                      <h6 class="text-black mb-0">{{item.product.name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2 update-cart" data-product="{{item.product.id}}" data-action="remove">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                        </svg>
                      </button>

                      <input id="form1" min="1" name="quantity" value="{{item.quantity}}" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2 update-cart" data-product="{{item.product.id}}" data-action="add">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                        </svg>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{item.product.price}} đ</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end delete-cart">
                      <a href="{% url 'delete_item/' item.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                        </svg>
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                  </div>

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0">
                        <a href="" class="text-body">
                            <i class="fas fa-long-arrow-alt-left me-2"></i>
                            Back to shop
                        </a>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-light">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{order.get_cart_items}}</h5>
                    <h5>{{order.get_cart_total}} đ</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="form-select">
                      <option value="1">Free Ship</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Code" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5> {{order.get_cart_total}} đ</h5>
                  </div>
                    <div class="d-grid gap-2">
                      <a href="{% url 'payment' %}" style="text-decoration:none;color:white">
                        <button type="button" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">
                          Check Out
                        </button>
                      </a>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock cart-content %}