{% extends 'base.html' %}

{% block changePassword-content %}
    <div class="container d-flex justify-content-center bg-light rounded-3" style="margin-top:150px;margin-bottom:100px">
        <div class="row">
            <div class="col-md-4 mx-4">
                <img class="mt-5" src="https://cdn-icons-png.flaticon.com/512/6195/6195700.png" style="width:300px;height:300px"/>
            </div>
            <div class="col-md-7">
                <form class="p-5" style="width:500px" method="POST" action="">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Mật khẩu cũ:</label><br/>
                    {{ form.old_password }}
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Mật khẩu mới:</label><br/>
                    {{ form.new_password1 }}
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Nhập lại mật khẩu mới: </label><br/>
                    {{ form.new_password2 }}
                  </div>
                  <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
                <div class="d-flex align-items-center justify-content-center pb-4 text-danger">
                    {% for message in messages %}
                      <p>{{message}}</p>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
{% endblock changePassword-content %}
