{% extends 'base.html' %}

{% block profile-content %}
<section style="background-color: #eee;">
  <div class="container py-5" style="margin-top:150px">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ request.user }}</h5>
            <p class="text-muted mb-1">
              {% if request.user.is_superuser %}
                Quyền truy cập: Admin
              {% else %}
                Quyền truy cập: User
              {% endif %}

            </p>
            <div class="d-flex justify-content-center mb-2">
<!--              <form method="post" enctype="multipart/form-data">-->
<!--                {% csrf_token %}-->
<!--                <input type="file" name="image">-->
<!--                <button type="submit">Tải lên</button>-->
<!--            </form>-->
              <button type="button" class="btn btn-outline-primary">Chỉnh sửa</button>
<!--              <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">

            <form method="post" class="profile-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-sm-3">
                  <label for="{{ form.username.id_for_label }}">Tên người dùng</label>
                </div>
                <div class="col-sm-9">
                  {{ form.username }}
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                </div>
                <div class="col-sm-9">
                  {{ form.email }}
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <label for="{{ form.first_name.id_for_label }}">Họ</label>
                </div>
                <div class="col-sm-9">
                  {{ form.last_name }}
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <label for="{{ form.last_name.id_for_label }}">Tên</label>
                </div>
                <div class="col-sm-9">
                  {{ form.last_name }}
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </div>
              </div>
              {% if form.errors %}
                <ul class="text-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
            </form>



          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock profile-content %}
